

.TodoTemplate {
  width: 80%;
  max-width: 600px;
  min-width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 18px;
  margin: 0 auto;
  margin-top: 80px;


  .TodoTitle {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 24px 20px;
    border-bottom: 2px solid #eee;
  }
}